<header class="navbar navbar-fixed-top navbar-inverse">
  <div id="nav-bar">
    <div class = "logo">
      <a href = "http://localhost:3000/">
         <img class="img-circle" src="/images/logo.png" alt="Smiley face" height="50" width="60"> 
      </a>
    </div>
    <div class = "search">
      <span class = "select-label">Tìm kiếm</span>
      <%= form_tag search_path, method: :get do%>
      <%= text_field_tag :search, params[:search], placeholder: "nhap tim kiem ..." %>
      <i class="search-btn"></i>
      <%= submit_tag "Search", name: nil, class: "hide" %>
      <% end %>
    </div>
    <div class = "location">
      <div class ="custom-dropdown">
        <span class = "inner-label">tại</span>
        <input class="dropdown-toggle" placeholder = "tỉnh/thành phố" data-toggle="dropdown"></input>
        <i class ="lz lz-triangle-down dropdown-toggle"data-toggle="dropdown">▼</i>
        <ul class="dropdown-menu">
          <a class="list-group-item">Địa danh nổi bật</a>
          <a class="list-group-item">
            <span class="place-name">Hà Nội</span>
            <span class="place-count">41073 địa điểm</span>
          </a>
          <a class="list-group-item">Tất cả địa danh</a>
          <a class="list-group-item">
            <span class="place-name">Hà Nội</span>
            <span class="place-count">41073 địa điểm</span>
          </a>
        </ul>
      </div>
    </div>
    <div class = "nav-right">
      <% if !user_signed_in? %>
      <%= link_to " Sign Up", new_user_registration_path, class: "vitri2 btn btn-primary glyphicon glyphicon-edit"%> 
      <%= link_to " Log In", new_user_session_path,class: "btn btn-primary glyphicon glyphicon-log-in"%>
    <%else%>
      <div class="mylogo dropdown">
        <a href='#'  data-toggle="modal" data-target="#myModal">
          <img class="img-circle" src="/images/upload.png" alt="Smiley face" height="38" width="38" style="margin-right: 10px;"> 
        </a>
        <a href='#' class="dropdown-toggle" data-toggle="dropdown">
          <img class="img-circle" src="/images/logo.png" alt="Smiley face" height="38" width="38"> 
        </a>
        <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
      </div>

    <%end%>
    </div>
  </div>
</header>